# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


*.sdf
*.sln
*.xml
*.txt
*.json
*.js
*.html
*.gif
*.png
*.vcxproj
*.filters
*.obj
*.tlog
*.log
*.idb
*.pdb
*.suo
*.ilk
*.exe
*.pro
*.ui
*.user
*.4b9902c